@tailwind base;
  @tailwind components;
  @tailwind utilities;

  .reddit-mono-font {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  p {
    color: #4a5568;
  }
  .gradient-text {
    background: linear-gradient(to right, #a855f7, #ec4899, #eab308, #a855f7, #ec4899, #eab308);
    background-size: 300% 300%;
    background-clip: text;
  }

  @layer utilities{
    .animation-delay-2000 {
      animation-delay: 2000ms;
    }

    .animation-delay-5000 {
      animation-delay: 5000ms;
    }
  }
  
  